* {
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
}

p {
    margin: 16px 0
}

.main {
    width: 100%;
    height: 12000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    position: relative;
}

.main-form {
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.644);
    display: none;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    z-index: 1;
}

.form {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    background-color: rgb(173, 88, 9);
    margin-top: 150px;
    position: relative;
}

.form__inp {
    width: 300px;
    height: 50px;
    border: 1px solid #4b4b4b;
}

.section-header {
    width: 100%;
    height: 829px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url(/image/Прямоугольник_2_копия_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 941px;
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.contact {
    width: 208px;
    height: 41px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    color: #fff;
}

.contact__text {
    font-size: 14px;
}

.contact__number {
    font-size: 20px;
}

.header-content {
    width: 100%;
    height: 545px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    font-size: 68px;
    color: white;
    text-transform: uppercase;
}

.header-text {
    color: #fff;
    width: 442px;
    height: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 65px;
}

.header-text__one {
    font-size: 20px;
}

.header-content__button {
    width: 300px;
    height: 60px;
    background: none;
    color: #fff;
    border: 2px solid #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 105px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.header-content__button:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.header-social {
    width: 98px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.social {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    cursor: pointer;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .2s;
}

.social:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}


/*-----------------------------*/

.desc {
    width: 100%;
    height: 590px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f2e4;
}

.desc-content {
    width: 941px;
    height: 490px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desc-info {
    width: 392px;
    height: 397px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.desc-info__title {
    font-size: 20px;
    font-weight: bold;
}

.desc-info__title>b {
    font-size: 50px;
    text-transform: uppercase;
}

.desc-label {
    width: 187px;
    height: 28px;
    display: flex;
    align-items: center;
}

.desc-label__text {
    text-transform: uppercase;
    margin-left: 21px;
}


/*--------------------------------------------------*/

.five-reasons {
    width: 100%;
    height: 780px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.section__title {
    font-size: 36px;
    position: relative;
}

.section__title:after {
    content: url(/image/lineV.png);
    position: absolute;
    top: 19px;
    left: 185px;
}

.reasons-content {
    width: 941px;
    height: 569px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.reasons {
    width: 260px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.reasons__text {
    text-align: center;
}


/*----------------------------------------------------*/

.expectant-travel {
    width: 100%;
    height: 752px;
    background-color: #f8f2e4;
}


/*----------------------------------------------------*/

.timetable-tour {
    width: 100%;
    height: 670px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.timetable-content {
    width: 941px;
    height: 380px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.timetable {
    width: 220px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f8f2e4;
}

.timetable__date {
    color: #4b4b4b;
    font-size: 14px;
}

.timetable__title {
    font-weight: 18px;
    font-weight: bold;
}

.timetable__desc {
    color: blue;
    text-decoration: underline;
    font-size: 12px;
    cursor: pointer;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.timetable__desc:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    text-decoration: none;
    font-weight: bold;
}

.timetable__btn {
    width: 180px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    color: #dd490f;
    border: 1px solid #dd490f;
    background: none;
    cursor: pointer;
}

.timetable__btn:hover {
    color: #fff;
    background-color: #dd490f;
}

.timetable__btn:focus {
    color: #fff;
    background-color: #dd490f;
}


/*---------------------------------------------------------*/

.programm-tour {
    width: 100%;
    height: 750px;
}


/*-----------------------------*/

.ayurveda-section {
    width: 100%;
    height: 2053px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.ayurveda {
    width: 941px;
    height: 169px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.ayurveda__p {
    font-size: 18px;
}

.weekplan-content {
    width: 621px;
    height: 805px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.weekplan {
    width: 621px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weekplan__text {
    font-size: 18px;
    margin-left: 40px;
}

.ayurveda-content {
    width: 970px;
    height: 606px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ayurveda-image {
    width: 459px;
    height: 619px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.ayurveda-image>img {
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.ayurveda-image>img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.ayurveda-center {
    width: 460px;
    height: 572px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.ayurveda-p {
    width: 920px;
    height: 235px;
}

.ayurveda-p__text {
    font-size: 18px;
    text-align: center;
}

.center-header {
    width: 460px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.center-header__place {
    font-size: 14px;
    color: #4b4b4b;
}

.ayurveda-center-info {
    width: 460px;
    height: 213px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ayurveda-center-info__text {
    font-size: 12px;
    margin: 5px 0;
}

.ayurveda-condishions {
    width: 500px;
    height: 226px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.condishions-block {
    width: 230px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.condishions-block__text {
    font-size: 12px;
    color: #454545;
    margin-left: 15px;
}


/*------------------------------*/

.instructors-section {
    width: 100%;
    height: 1310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f8f2e4;
}

.instructors-content {
    width: 941px;
    height: 1099px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.instructor {
    width: 941px;
    height: 540px;
    display: flex;
    align-items: flex-end;
}

.instructor__photo {
    position: relative;
}

.instructor-info {
    position: absolute;
    width: 940px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #414040;
    background-color: rgba(58, 57, 57, .5);
    color: white;
}

.instructor-personal {
    width: 250px;
    height: 125px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
}

.instructor-personal__name {
    font-size: 30px
}

.instructor-personal__job {
    font-style: italic;
}

.instructor-desc {
    width: 515px;
    height: 100px;
    position: relative;
}

.ellipses-content {
    width: 54px;
    height: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 156px;
    left: 885px;
}

.ellips {
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}

.ellips:hover {
    border: 3px solid white;
    background: none;
}

.instructor-desc__text {
    font-size: 14px;
    margin: 0;
}

.line {
    width: 2px;
    height: 85px;
    background-color: #fff;
}


/*-------------------------------*/

.reviews-section {
    width: 100%;
    height: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.reviews-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.reviews {
    width: 757px;
    height: 208px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviews-info {
    width: 569px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.reviews-info__username {
    font-size: 18px;
}

.reviews-info__link {
    color: #dd490f;
}

.reviews-info__text {
    font-size: 14px;
    font-style: italic;
}

.reviews-slide {
    width: 48px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviews-slide__btn {
    width: 10px;
    height: 10px;
    background-color: #b4b4b4;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}


/*------------------------------------*/

.qualites-section {
    width: 100%;
    height: 890px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #f8f2e4;
}

.qualites-content {
    width: 855px;
    height: 564px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.qualites-block {
    width: 216px;
    height: 245px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.qualites-block__title {
    font-size: 18px;
}

.qualities-block__text {
    text-align: center;
}


/*----------------------------------------*/

.feedback-info {
    width: 100%;
    height: 489px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.feedback-info__subtitle {
    font-size: 18px;
    font-style: italic;
    color: #3f3f3f;
}

.feedback-content {
    width: 941px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feedback-block {
    width: 142px;
    height: 152px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-block__text {
    text-align: center;
    font-size: 12px;
}

.feedback-block__link {
    text-align: center;
    color: #dd490f;
}


/*----------------*/

.coast-section {
    width: 100%;
    height: 1120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #f8f2e4;
}

.coast-inner {
    width: 941px;
    height: 847px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.coast-content {
    width: 820px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.coast-info {
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
}

.coast-tour {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.coast-tour__text {
    font-size: 21px;
}

.coast-tour__price {
    font-size: 20px;
    color: #dd490f;
    margin-left: 87px;
}

.coast-tour__price:last-child {
    margin-left: 75px;
}

.coast-special {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f4e1b6;
}

.coast-special__text {
    font-size: 20px;
    font-weight: bold;
}

.coast-special__btn {
    width: 140px;
    height: 40px;
}

.includes-services {
    width: 685px;
    height: 374px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.services-inner {
    width: 100%;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.services-content {
    width: 100%;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.services-content__text {
    font-size: 16px;
    margin-left: 20px;
}

.not-includes {
    width: 581px;
    height: 198px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.not-services {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.not-services-content {
    width: 100%;
    height: 134px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.not-services-content__text {
    margin-left: 21px;
    color: #4e4e4e;
    font-size: 16px;
}

.coast-inner__text {
    font-size: 18px;
    text-align: center;
}


/*=--------------------------------------------*/

.guarantee-section {
    width: 100%;
    height: 686px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.guarantee-content {
    width: 966px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.guarantee-content__text {
    font-style: italic;
}

.guarantee-documents {
    width: 881px;
    height: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.guarantee-documents__title {
    font-size: 24px;
}

.documents-content {
    width: 100%;
    height: 218px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.documents-info {
    width: 183px;
    height: 227px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.documents-info__text {
    text-align: center;
    margin-top: 10px;
}